.container {
  max-width: 900px;
  margin: 0 auto;
}

.başlık {
  font-size: 25px;
}

.başlık ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  text-transform: uppercase;
  text-align: start;
}

.yanyana {
  font-size: 20px;
  display: flex;
  gap: 30px;
}

.yanyana img {
  padding-bottom: 50px;
}

.yazı {
  gap: 50px;
  text-align: center;
}

.yazı p {
  width: 300px;
}

.yazı button {
  width: 200px;
  padding: 15px 0;
  border-radius: 35px;
  margin: 20px;
  text-align: center;
  color: black;
}

.ilksıra {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  gap: 50px;
}

.ilksıra img {
  width: 350px;
  height: 350px;
}

.ikincisıra {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  gap: 50px;
}

.ikincisıra img {
  width: 350px;
  height: 350px;
}

.bitiş {
  text-align: center;
}

.bitiş button {
  width: 200px;
  padding: 15px 0;
  border-radius: 35px;
  margin: 20px;
  text-align: center;
  color: black;
}

@media screen and (max-width: 800px) {
  .container {
    max-width: 800px;
  }

  .yanyana {
    flex-direction: column;
  }

  .yanyana img {
    padding-bottom: 20px;
  }

  .yazı p {
    width: 100%;
  }

  .ilksıra img,
  .ikincisıra img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .container {
    max-width: 500px;
  }

  .başlık ul li {
    display: block;
    padding: 10px 0;
    text-align: center;
  }

  .yazı button,
  .bitiş button {
    width: 100%;
  }
}
